body
{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

header
{
	display: flex;
	justify-content: space-between;



	background-color: grey;
	height: 250px;
}

#logo1
{
	display: flex;
	margin-left: 50px;
}

h1
{
	display: flex;
	align-items: center;


}

#list_boutton
{
	align-self: flex-end; /* Seul ce bloc sera aligné à la fin */



	/*width: 100px;*/
	background-color: pink;
	display: flex;
	list-style-type: none;
}

li
{
	margin-left: 5px;

}


#corps_page
{
	display: flex;
	flex-direction: column;
	background-color: red;

}

footer
{
	background-color: black;
}
